.sticky-header {
  position: sticky;
  top: 0;
  z-index: 30;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  max-width: 80rem;
  justify-content: space-between;
  padding: 1.25rem;
}

.header-motion-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-motion-right {
  display: flex;
  cursor: pointer;
  align-items: center;
  align-self: center;
}

.header-corner-text {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #a5f2f3;
}
